set -gx PATH "$HOME/.local/bin" $PATH
set -gx SSH_AUTH_SOCK "$HOME/.bitwarden-ssh-agent.sock"


if status is-interactive
    set fish_greeting

    starship init fish | source
    fastfetch-random

    alias pamcan="pacman"
    alias please="sudo"

    alias ls='eza --icons --group-directories-first'
    alias ll='eza -alF --icons --group-directories-first'

    alias clear="printf '\033[2J\033[3J\033[1;1H' && fastfetch-random"

    {{- if eq .chezmoi.hostname "cleboost-brain" }}
    alias update="yay --noconfirm -Syu --devel"
    {{- else }}
    function update
        echo "🔄 Syncing build cache from cleboost-brain..."
        # Sync yay cache for noctalia-git only from brain. 5s timeout in case brain is offline.
        rsync -az --timeout=5 {{ (index .pcs "cleboost-brain").ip }}:~/.cache/yay/noctalia-git/ ~/.cache/yay/noctalia-git/
        yay --noconfirm -Syu --devel
    end
    {{- end }}
    alias sync-ssh="sync-ssh-pubkeys.sh"
end
