[Unit]
Description=Run chezmoi watch sync every 5 minutes

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
Persistent=true
Unit=chezmoi-watch-sync.service

[Install]
WantedBy=timers.target
