encryption = "age"

[git]
    autoCommit = true
    autoPush = true

[data]
    email = "clement.balarot@gmail.com"

[age]
    identity = "~/.config/chezmoi/key.txt"
    recipient = "age1rjr59sazz62meavyd438lprq7emsullcu02t6plh94npjtsqj5ssn079f0"

[edit]
    command = "zeditor"
    args = ["--wait"]
