# ~/.local/share/chezmoi/run_onchange_arch-install-packages.sh.tmpl
{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh
set -eu

if ! command -v yay >/dev/null 2>&1; then
  sudo pacman -Sy --needed --noconfirm base-devel git

  tmpdir="$(mktemp -d)"
  trap 'rm -rf "$tmpdir"' EXIT

  git clone https://aur.archlinux.org/yay.git "$tmpdir/yay"
  cd "$tmpdir/yay"
  makepkg -si --noconfirm
  cd /
fi

if ! command -v yay >/dev/null 2>&1; then
  echo "yay n'a pas pu être installé"
  exit 1
fi

{{- $yay := concat
  .packages.arch.yay.terminal
  .packages.arch.yay.cli
  .packages.arch.yay.files
  .packages.arch.yay.hyprland
  .packages.arch.yay.themes
  .packages.arch.yay.apps
  .packages.arch.yay.development
  .packages.arch.yay.noctalia
  .packages.arch.yay.bootstrap
}}

{{- if $yay }}
yay -S --needed --noconfirm {{ join " " (uniq $yay) }}
{{- end }}

{{- $bun := concat
  .packages.bun.global.cli
}}

{{- if $bun }}
if command -v bun >/dev/null 2>&1; then
  bun add -g {{ join " " (uniq $bun) }}
else
  echo "bun n'est pas installé, installation des paquets globaux bun ignorée"
fi
{{- end }}
{{ end -}}