# cleboost-brain public key
ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIJw6GmxrctPQwp8QsVbj/IM4MFJ2xlz+j0vfEzgFu33i cleboost@cleboost-brain

# cleboost-sage public key
ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIBwcp3CYjf1yXN6ZAUbO6Q7WwRtNmx2VpDgkfyPJW+VI cleboost@cleboost-sage
