exec = hyprctl dispatch submap global # DO NOT REMOVE THIS OR YOU WON'T BE ABLE TO USE ANY KEYBIND
submap = global # This is required for catchall to work

{{- if eq .chezmoi.hostname "cleboost-brain" }}
env = AQ_DRM_DEVICES,/dev/dri/card1:/dev/dri/card2
{{- end }}

# ── Core ──────────────────────────────────────────────────────────────────────
source = core/env.conf
source = core/execs.conf
source = core/general.conf
#{{- if eq .chezmoi.hostname "cleboost-brain" }}
source = core/monitors.conf
#{{- end }}

# ── Appearance ────────────────────────────────────────────────────────────────
source = theme/colors.conf

# ── Binds ─────────────────────────────────────────────────────────────────────
source = binds/noctalia.conf
source = binds/workspaces.conf
source = binds/keybinds.conf

# ── Rules ─────────────────────────────────────────────────────────────────────
source = rules/rules.conf
source = rules/specialwork.conf

# ── Noctalia Managed ──────────────────────────────────────────────────────────
source = ~/.config/hypr/noctalia.conf
