[General]
keyAlgorithm=EC
{{- $ips := list -}}
{{- range $name, $pc := .pcs -}}
  {{- if ne $name $.chezmoi.hostname -}}
    {{- $ips = append $ips $pc.ip -}}
  {{- end -}}
{{- end }}
{{- if $ips }}
customDevices={{ join "," $ips }}
{{- end }}
